{% macro attributes(attributes) %}
{% for name, value in attributes %}
    {%- if value is not none and value is not sameas(false) -%}
        {{- ' %s="%s"'|format(name, value is sameas(true) ? name|e : value|e)|raw -}}
    {%- endif -%}
{%- endfor -%}
{% endmacro %}

{% block label %}{% if options.allow_safe_labels and item.getExtra('safe_label', false) %}{{ item.label|raw }}{% else %}{{ item.label }}{% endif %}{% endblock %}

{% block compressed_root %}
{% spaceless %}
{{ block('root') }}
{% endspaceless %}
{% endblock %}

{% block root %}
{% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
    {% set currentItem = item %}
    <div id="sideMenu" class="accordion">
        {% for item in currentItem.children %}
            {% set isActive = false %}
            {% if item.hasChildren %}
                {% for item in item.children %}
                    {% if matcher.isCurrent(item) %}
                        {% set isActive = true %}
                    {% endif %}
                {% endfor %}
                {% if isActive %}
                    {% set addClass = 'accordion-toggle active ' %}
                    {%- set caret = ' <i class="icon-chevron-down"></i>' %}
                {% else %}
                    {% set addClass = 'accordion-toggle collapsed ' %}
                    {%- set caret = ' <i class="icon-chevron-right"></i>' %}
                {% endif %}
                {%- set uri = '#collapse'~ loop.index %}
            {% else %}
                {% if matcher.isCurrent(item) %}
                    {% set isActive = true %}
                {% endif %}
                {% if isActive %}
                    {% set addClass = 'active ' %}
                {% endif %}
                {%- set uri = item.uri %}
                {%- set caret = '' %}
            {% endif %}
            {% if item.linkAttributes['class'] is defined %}
                {% set class = addClass ~ item.linkAttributes['class'] %}
            {% else %}
                {% set class = addClass %}
            {% endif %}

            {%- set linkAttributes = item.linkAttributes|merge({'class': class, 'data-toggle': 'collapse', 'data-parent': '#sideMenu'}) %}

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a href="{{ uri }}" {{ _self.attributes(linkAttributes) }}>{% if linkAttributes.icon is defined %}<i class="{{ linkAttributes.icon }}"></i>{% endif %}{{ block('label') }}{{ caret|raw }}</a>
                </div>
                {% if item.hasChildren %}
                    <div id="collapse{{ loop.index }}" class="accordion-body collapse{% if isActive %} in{% endif %}">
                        <div class="accordion-inner">
                            <ul class="nav nav-stacked nav-pills">
                                {% for item in item.children %}
                                    {% set class = item.linkAttributes['class'] is defined ? item.linkAttributes['class'] : '' %}
                                    {% set title = item.linkAttributes['title'] is defined ? item.linkAttributes['title'] : '' %}
                                    {% set iconClass = item.linkAttributes['icon'] is defined ? item.linkAttributes['icon'] : '' %}
                                    <li class="{% if matcher.isCurrent(item) %}active{% endif %}"><a href="{{ item.uri }}" class="{{ class }}" title="{{ title }}">{% if item.linkAttributes.icon is defined %}<i class="{{ iconClass }}"></i>{% endif %}{{ block('label') }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}


